# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
*.rkward_autosave
Packages/PBD.pdf
*.kate-swp
Packages/PBD/*
MyFavoritePackages/*
PBD.pdf
PBD/*.*
PBD_1.0.tar.gz
/PBD/*.*
/PBD/
MyFavoritePrograms/standard-RAxML/*.R.save
MyFavoritePrograms/standard-RAxML/*
.R.save
Packages/InstallPackage.R.save
tmp.txt
*.tre.RUN.*
olli_rBEAST/
